* {
  font-family: system-ui, -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', 'sans-serif';
}

:root {
  --primary-color: #f6f8fd;
  --color-text: #ffffff;
  /* Changed to white */
  --navbar-color: #ffffff;
  --navbar-color-text: #000000;
}

/* STYLE NAVBAR */

.navbar {
  position: fixed;
  padding: 15px 0 15px;
  width: 100%;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  z-index: 9999;
  animation-name: fadeInDown;
  animation-duration: 1s;
}

.navbar.color-active {
  background-color: var(--navbar-color);
  padding: 20px 0 20px 0;
}

.navbar .nav-link a {
  padding: 5px 10px 5px 10px;
  font-weight: 500;
  text-decoration: none;
  color: var(--navbar-color-text);
}

.navbar .nav-link a:hover {
  color: var(--navbar-color-text);
}

.navbar .nav-link .active {
  background-color: blueviolet;
  color: var(--primary-color);
}

.navbar .nav-link .active:hover {
  color: var(--navbar-color);
}

/* STYLE NAVBAR */

/* STYLE REGISTRASI */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.container {
  max-width: 100px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.container .title {
  font-size: 25px;
  font-weight: 500;
}

.container .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.content form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

form .input-box span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: #7d2ae8;
}

form .gender-details .gender-title {
  font-size: 20px;
  font-weight: 500;
}

form .category {
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}

form .category label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

form .category label .dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

#dot-1:checked~.category label .one,
#dot-2:checked~.category label .two,
#dot-3:checked~.category label .three {
  background: #7d2ae8;
  border-color: #d9d9d9;
}

form input[type="radio"] {
  display: none;
}

form .button {
  height: 45px;
  margin: 35px 0
}

form .button input {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

form .button input:hover {
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}

@media(max-width: 584px) {
  .container {
    max-width: 100%;
  }

  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }

  form .category {
    width: 100%;
  }

  .content form .user-details {
    max-height: 300px;
    overflow-y: scroll;
  }

  .user-details::-webkit-scrollbar {
    width: 5px;
  }
}

@media(max-width: 459px) {
  .container .content .category {
    flex-direction: column;
  }
}
.button {
  text-align: center;
}

.button a {
  display:inline-flexbox;
  padding: 10px 20px;
  margin-top: 0px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.button a:hover {
  background-color: #0056b3;
}

/* STYLE REGISTRASI */

/* STYLE PROFILE */

/* STYLE PROFILE */

/* STYLE CONTACT */

label {
  display: block;
  margin-top: 10px;
  margin-bottom: 15px;
}

a {
  color: #007bff;
  text-decoration: none;
}

/* STYLE CONTACT */


/* STYLE HOMEPAGE HEADER */
header {
  background: linear-gradient(135deg, #71b7e6, #9b59b6)
}

;

.homepage .header-box h1 {
  font-size: 3.2rem;
  font-weight: 600;
  color: var(--color-text);
  --animate-delay: 0.6s;
}

.homepage .header-box h1 span {
  font-weight: 700;
}

.homepage .header-box p {
  line-height: 1;
  color: var(--color-text);
  font-weight: 500;
  --animate-delay: 1s;
}

.homepage .header-box button {
  --animate-delay: 1.4s;
}

.homepage .header-box img {
  width: 100%;
}

@media screen and (max-width: 992px) {
  .homepage .header-box {
    padding-top: 8rem;
  }

  .homepage .header-box img {
    width: 400px;
    display: block;
    margin-inline: auto;
  }
}

@media screen and (max-width: 575px) {
  .homepage .header-box h1 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 475px) {
  .homepage .header-box h1 {
    font-size: 2.4rem;
  }

  .homepage .header-box p {
    font-size: 14px;
  }

  .homepage .header-box img {
    width: 300px;
  }
}

@media screen and(max-width: 375px) {
  .homepage .header-box h1 {
    font-size: 2rem;
  }

  .homepage .header-box p {
    font-size: 12px;
  }
}

/* STYLE HOMEPAGE HEADER */

/* STYLE LOGO */

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 100px;
  /* Sesuaikan tinggi logo sesuai kebutuhan */
  margin-right: 10px;
}

.color-active {
  background-color: #3498db;
  transition: background-color 0.3s ease;
}

.navbar-brand {
  color: #333;
}

.navbar-nav .nav-link {
  color: #333;
  margin: 0 10px;
}

.navbar-nav .nav-link.active {
  color: #e74c3c;
}

.navbar {
  min-height: 50px;
}

.navbar-nav .nav-link {
  margin: 0 8px; 
}

/* STYLE LOGO */

/* STYLE HOMEPAGE KELAS */
.homepage .kelas {
  background-color: var(--primary-color);
  padding-top: 0px;
}

.homepage .kelas .row:nth-child(1) {
  padding-top: 100px;
  padding-bottom: 100px;
}

.homepage .kelas .row:nth-child(1) h1 {
  color: var(--color-text);
  --animate-delay: 0.5s;
}

.homepage .kelas .row:nth-child(1) p {
  color: var(--color-text);
  --animate-delay: 0.5s;
}

.homepage .kelas .row:nth-child(2) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
  padding-inline: 10px;
}

.homepage .kelas .row:nth-child(2) .col {
  background-color: #ffffff;
  padding: 0;
}

.homepage .kelas .row:nth-child(2) img {
  height: 250px;
}

.homepage .kelas .row:nth-child(2) .star i {
  color: rgb(140, 98, 179);
}

.homepage .kelas .row:nth-child(2) h5 {
  color: var(--navbar-color-text);
  font-weight: bold;
  line-height: 1.5;
}

.homepage .kelas .row:nth-child(3) {
  padding-top: 100px;
}

/* STYLE HOMEPAGE KELAS */

/* STYLE  KELAS */
.kelas-page kelas {
  color: var(--primary-color);
}

.kelas-page .kelas .row:nth-child(1) {
  padding-top: 0px;
  padding-bottom: 50px;
}

.kelas-page .kelas .row:nth-child(1) h1 {
  color: var(--navbar-color-text);
}

.kelas-page .kelas .row:nth-child(1) p {
  color: var(--navbar-color-text);
}

.kelas-page .kelas .row:nth-child(2) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
  padding-inline: 10px;
}

.kelas-page .kelas .row:nth-child(2) .col {
  background-color: #ffffff;
  padding: 0;
}

.kelas-page .kelas .row:nth-child(2) img {
  height: 250px;
}

.kelas-page .kelas .row:nth-child(2) .star i {
  color: blueviolet;
}

.kelas-page .kelas .row:nth-child(2) h5 {
  color: var(--navbar-color-text);
  font-weight: bold;
  line-height: 1.5;
}

/* STYLE  KELAS */

/* STYLE HOMEPAGE TESTIMONIAL */
.homepage .testimonial {
  background-color: var(--primary-color);
}

.homepage .testimonial h1 {
  color: #000000;
}

.homepage .testimonial .swiper {
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
}

.homepage .testimonial .swiper-slide {
  text-align: left;
  font-size: 18px;
  background: #fff;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.homepage .testimonial .swiper-slide:active {
  cursor: grabbing;
}

.homepage .testimonial .swiper-slide .desc {
  color: var(--navbar-color-text);
  font-weight: 500;
  line-height: 2;
  margin-bottom: 50px;
}

.homepage .testimonial .swiper-slide .people {
  display: flex;
  align-items: center;
  width: 100%;
  column-gap: 10px;
}

.homepage .testimonial .swiper-slide .people h5,
.homepage .testimonial .swiper-slide .people p {
  color: var(--navbar-color-text);
}

.homepage .testimonial .swiper-slide .people h5 {
  font-weight: 600;
}

.homepage .testimonial .swiper-slide .people p {
  opacity: 50%;
}

.homepage .testimonial .swiper-slide .people img {
  width: 80px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

@media screen and (max-width: 768px) {
  .homepage .testimonial .swiper {
    padding-inline: 10px;
  }

  .homepage .testimonial .swiper-slide .people {
    justify-content: center;
  }
}

/* STYLE HOMEPAGE TESTIMONIAL */

/* STYLE TESTIMONIAL */
.testimonial-page .testimonial {
  border-color: var(--navbar-color-text);
  padding-top: 0px;
  padding-bottom: 50px;
}

.testimonial-page .testimonial .row:nth-child(1) {
  padding-bottom: 100px;
}

.testimonial-page .testimonial .row:nth-child(1) h1 {
  color: var(--navbar-color-text);
  --animate-delay: 0.5s;
}

.testimonial-page .testimonial .row:nth-child(1) p {
  color: var(--navbar-color-text);
}

.testimonial-page .testimonial .desc {
  color: var(--navbar-color-text);
  font-weight: 500;
  line-height: 2;
  margin-bottom: 50px;
}

.testimonial-page .testimonial .people {
  display: flex;
  align-items: center;
  width: 100%;
  column-gap: 10px;
}

.testimonial-page .testimonial .people h5,
.testimonial-page .testimonial .people p {
  color: var(--navbar-color-text);
}

.testimonial-page .testimonial .people h5 {
  font-weight: 600;
}

.testimonial-page .testimonial .people p {
  opacity: 50%;
}

.testimonial-page .testimonial .people img {
  width: 80px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

/* STYLE TESTIMONIAL*/

/* STYLE SYARAT & KETENTUAN */
.syarat-ketentuan-page .syarat-ketentuan {
  padding-top: 0px;
  background-color: var(--primary-color);
}

.syarat-ketentuan-page .syarat-ketentuan {
  line-height: 2;
}

/* STYLE SYARAT & KETENTUAN */

/* STYLE FAQ */
.faq {
  padding-top: 0px;
  padding-bottom: 50px;
  background-color: var(--primary-color);
}

.faq .h2 {
  color: var(--navbar-color-text);
  --animate-delay: 0.5s;
}

.faq .accordion .accordion-button {
  color: var(--navbar-color-text);
  font-weight: bold;
  background-color: #ffffff;
  line-height: 1.5;
}

.faq .accordion .accordion-button:focus {
  border: none;
  box-shadow: none;
}

.faq .accordion .accordion-body {
  background-color: #ffffff;
}

/* STYLE FAQ */

/* STYLE FOOTER */
.footer {
  width: 100%;
  min-height: 60vh;
}

.footer .row:nth-child(1) .row:nth-child(1) h3 {
  color: var(--navbar-color-text);
}

.footer .row:nth-child(1) .row:nth-child(1) .desc {
  color: var(--navbar-color-text);
  font-size: 14px;
  line-height: 2;
}

.footer .no a,
.footer .email a {
  display: flex;
  align-items: center;
  color: black;
  column-gap: 5px;
}

.footer .no a:hover,
.footer .email a:hover {
  color: var(--secondary-color);
}

.footer .row:nth-child(1) .col:nth-child(2) {
  gap: 10px;
}

.footer .row:nth-child(1) .col:nth-child(2) a {
  color: black;
  text-decoration: none;
  font-size: 14px;
}

.footer .row:nth-child(1) .col:nth-child(2) a:hover {
  color: var(--secondary-color);
}

.footer .subscribes {
  display: flex;
  align-items: center;
  gap: 2px;
}

.footer .subscribes input {
  width: 200px;
  height: 38px;
  padding: 5px;
}

.footer .social {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer .social i {
  font-size: 24px;
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.footer .social i:hover {
  color: var(--secondary-color);
}

.footer .row:nth-child(2) {
  margin-top: 100px;
}

/* STYLE FOOTER */

/* STYLE LOGIN */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #7d2ae8;
  padding: 30px;
}

.container {
  position: relative;
  max-width: 850px;
  width: 100%;
  background: #fff;
  padding: 40px 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  perspective: 2700px;
}

.container .cover {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 50%;
  z-index: 98;
  transition: all 1s ease;
  transform-origin: left;
  transform-style: preserve-3d;
}

.container #flip:checked~.cover {
  transform: rotateY(-180deg);
}

.container .cover .front,
.container .cover .back {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.cover .back {
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.container .cover::before,
.container .cover::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: #7d2ae8;
  opacity: 0.5;
  z-index: 12;
}

.container .cover::after {
  opacity: 0.3;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.container .cover img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 10;
}

.container .cover .text {
  position: absolute;
  z-index: 130;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cover .text .text-1,
.cover .text .text-2 {
  font-size: 26px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}

.cover .text .text-2 {
  font-size: 15px;
  font-weight: 500;
}

.container .forms {
  height: 100%;
  width: 100%;
  background: #fff;
}

.container .form-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-content .login-form,
.form-content .signup-form {
  width: calc(100% / 2 - 25px);
}

.forms .form-content .title {
  position: relative;
  font-size: 24px;
  font-weight: 500;
  color: #333;
}

.forms .form-content .title:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 25px;
  background: #7d2ae8;
}

.forms .signup-form .title:before {
  width: 20px;
}

.forms .form-content .input-boxes {
  margin-top: 30px;
}

.forms .form-content .input-box {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  margin: 10px 0;
  position: relative;
}

.form-content .input-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  padding: 0 30px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.form-content .input-box input:focus,
.form-content .input-box input:valid {
  border-color: #7d2ae8;
}

.form-content .input-box i {
  position: absolute;
  color: #7d2ae8;
  font-size: 17px;
}

.forms .form-content .text {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.forms .form-content .text a {
  text-decoration: none;
}

.forms .form-content .text a:hover {
  text-decoration: underline;
}

.forms .form-content .button {
  color: #fff;
  margin-top: 40px;
}

.forms .form-content .button input {
  color: #fff;
  background: #7d2ae8;
  border-radius: 6px;
  padding: 0;
  cursor: pointer;
  transition: all 0.4s ease;

}

.forms .form-content .button input:hover {
  background: #7d2ae8;
}

.forms .form-content label {
  color: #7d2ae8;
  cursor: pointer;
}

.forms .form-content label:hover {
  text-decoration: underline;
}

.forms .form-content .login-text,
.forms .form-content .sign-up-text {
  text-align: center;
  margin-top: 25px;
}

.container #flip {
  display: none;
}

@media (max-width: 730px) {
  .container .cover {
    display: none;
  }

  .form-content .login-form,
  .form-content .signup-form {
    width: 100%;
  }

  .form-content .signup-form {
    display: none;
  }

  .container #flip:checked~.forms .signup-form {
    display: block;
  }

  .container #flip:checked~.forms .login-form {
    display: none;
  }
}

/* STYLE LOGIN */

/* STYLE MENU LAINNYA */
a {
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}
/* STYLE MENU LAINNYA */

/* STYLE PROFILE */
.input-field {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
/* Optional styling for textarea */
textarea.input-field {
  resize: vertical;
}

/* Optional styling for labels */
label {
  display: block;
  font-weight: bold;
  margin-bottom: 6px;
}

/* STYLE PROFILE */

/* STYLE LOGOUT */
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.navbar-right {
  display: flex;
  gap: 10px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #eee;
}
.btn-primary {
  margin-top: auto; /* Menempatkan tombol di bagian bawah */
}
/* STYLE LOGOUT */